body {
	background-color: #222222;
	font-family: 'Ubuntu', sans-serif;
}

/* Contains header, content, and footer.
 * Sets global width. */
.contentContainer {
	overflow-x: hidden;
	max-width: 1000px; /* two 450px tiles + 100px padding */
	min-width: 600px; /* 450px tile + 100px padding */
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.headerContainer {
	overflow-x: hidden;
	position: relative;
	width: 200%;
	left: -50%;
}

.pageHeader {
	font-weight: 500;
	font-size: 100px;
	color:#EBEBEB;
	
	position: relative;
	max-width: 1000px;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.sysStatus {
	position: relative;
	top: 52px;
	display: inline;
	float: right;
	width: 168px;
	height: 24px;
	padding: 10px 16px;
	
	font-weight: 500;
	font-size: 20px;
	color: #EBEBEB;
	text-decoration: none;
	
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #22E500;
}

.sysStatus:hover {
	border: 1px solid #EBEBEB;
	height: 22px;
	width: 166px;
	padding-top: 9px;
	cursor: pointer;
}

.menuBar {
	overflow-x: hidden;
	position: relative;
	width: 200%;
	left: -50%;
	
	background-color: #3C3C3C;
	border-top: 1px solid #000000;
}

.menuContainer {
	position: relative;
	max-width: 1000px;
	min-width: 600px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
}

.menuItem {
	position: relative;
	font-weight: 300;
	font-size: 24px;
	color: #EBEBEB;
	text-decoration: none;
	
	float: left;
	z-index: 100;
	padding: 8px 30px 6px;
}

.menuItemSel {
	background-color: #555555;
}

.menuItem:hover {
	background-color: #777777;
	cursor: pointer;
}

.version {
	position: relative;
	top: 12px;
	left: -5px;
	z-index: 1;
	
	font-weight: 500;
	font-size: 20px;
	text-align: right;
	color: #181818;
}

.footerContainer {
	color:#EBEBEB;
	
	position: relative;
	min-width: 1000px;
	height: 100px;
	top: 10px;
	width: 120%;
	left: -10%;
	
	background-color: #2C2C2C;
	border-top: 1px solid #000000;
}

.footer {
	font-weight: 300;
	font-size: 18px;
	color: #777777;
	
	position: relative;
	max-width: 1000px;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.footerSpacer {
	position: relative;
	width: 20.1%;
	height: 45px;
	float: left;
}

.footerCol {
	position: relative;
	float: left;
	width: 26.6%;
	top: 12px;
	height: 50px;
}

.footerCol a {
	text-decoration: none;
	color: #999999;
}

.copyright {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 5px;
	
	color: #5A5A5A;
	text-align: right;
	
	border-top: 1px solid #3C3C3C;
}
