/* CSS for tiles */

/* wrapper div for all tiles */
.wrap {
	overflow: hidden;
}

/* tile with background */
.tile {
	float: left;
	position: relative;
	width: 480px;
	height: 275px;
	margin: 9px 9px;
	
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #777777;
	background-color: #222222;
}

/* tile content wrapper with padding */
.tileContent {
	width: 100%;
	height: 100%;
	padding: 14px 16px;
}

/* top left tile name */
.tileName {
	float: left;
	position: relative;
	width: 370px;
	height: 42px;
	left: 10px;
	
	font-weight: 300;
	font-size: 24px;
	color: #ebebeb;
}

/* tile icon wrapper */
.tileIcon {
	float: right;
	position: relative;
	margin-right: 30px;
	height: 42px;
	width: 42px;
	left: -5px;
}

/* top right tile icon */
.icon {
	position: relative;
	height: 42px;
	width: 42px;
}

/* left side button wrapper */
.tileBttns {
	float: left;
	position: relative;
	padding-left: 8px;
	height: 42px;
	width: 44px;
	cursor: pointer;
}

/* buttons using images */
.imgBttn {
	float: left;
	position: relative;
	height: 42px;
	width: 42px;
	padding-bottom: 10px;
	cursor: pointer;
}

/* large print sensor value top & bottom lines */
.tileVal {
	float: left;
	position: relative;
	height: 130px;
	width: 354px;
	margin-left: 24px;
	margin-top: 16px;
	margin-right: 40px;
	
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
}

/* large print sensor vlaue wrapper */
.valContainer {
	position: relative;
	float: right;
	margin-top: 4px;
}

/* sensor value */
.val {
	display: inline;
	position: relative;
	
	font-weight: 500;
	font-size: 105px;
	color: #22e500;
}

/* sensor value unit */
.unit {
	display: inline;
	position: relative;
	top: -46px;
	left: -14px;
	
	font-weight: 300;
	font-size: 30px;
	color: #ebebeb;
}

/* sensor value warning color */
.warn {
	color: #ffc200;
}

/* sensor value critical color */
.critical {
	color: #f90000;
}

/* bottom options wrapper & text */
.tileOptions {
	float: left;
	position: relative;
	top: 12px;
	left: 120px;
	height: 35px;
	width: 180px;
	padding-top: 5px;
	
	font-weight: 300;
	vertical-align: middle;
	text-align: center;
	font-size: 24px;
	color: #ebebeb;
}

/* left & right arrows */
.optionArrow {
	float: left;
	position: relative;
	top: 12px;
	left: 120px;
	height: 40px;
	width: 40px;
}