/*-----------------------------------------------------------------------
 * Current
 -----------------------------------------------------------------------*/
#current_module_wrapper {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    padding: 2px 25px 0px 25px;
}

.current_module_stat {
    float: left;
    
    padding-right: 28px;
    
    font-size: 16px;
    color: #888888;
    
    cursor: default;
}
.current_module_stat:hover {
    color: #EEEEEE;
}

#current_module_description {
    position: absolute;
    bottom: -4px;
    
    width: calc(100% - 126px);
    height: 56px;
    
    padding: 10px 14px 4px 14px;
    
    border: 1px solid #444444;
    
    background-color: #202020;
}

#current_module_description_title {
    float: left;
    
    width: 106px;
    height: 50px;
    
    padding: 0px 0px 16px 0px;
    
    color: #999999;
    font-size: 20px;
}

#current_module_description_text {
    padding-top: 3px;
    
    width: calc(100% - 108px)
    
    color: #999999;    
    font-size: 17px;
}
#current_module_description_text:hover {
    color: #DDDDDD; 
}

#current_module_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    
    font-size: 40px;
    text-align: center;
}

#colorpicker {
	position: relative;
	left: -475px;
	width: 130%;
	height: 100%;
}

.color_col {
	cursor:pointer;
	
	margin-top: 3%;
	
	float:left;
	width: 4%;
	height: 80%;
}
