#dummy_current_body {
    background-color: #551111;
    text-align: center;
    padding-top: 50px;
}

#dummy_history_body {
    background-color: #115511;
    text-align: center;
    padding-top: 50px;
}

#dummy_options_body {
    background-color: #111155;
    text-align: center;
    padding-top: 50px;
}
