body {
	width: 100%;
	height: 100%;
	
	position: relative;
	left: -8px;
	top: -8px;
	
	overflow-x: hidden;
	overflow-y: hidden;
	
	font-variant: small-caps;
	color: #EEEEEE;
	font-family: 'Ubuntu', sans-serif;
	
	background-color: #222222;
}

#overlay {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	z-index: 150;
	
	background-color: rgba(34,34,34,0.7);
}

#pageLoading {
	position: absolute;
	
	left: -20px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: auto;
	
	width: 800px;
	height: 600px;
	
	z-index: 200;
	
	box-shadow: 0px 0px 100px 70px rgba(34,34,34,1);
	
	background-color: #222222;
}

.loadIcon {
	position: relative;
	
	left: -1px;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 40px;
	
	padding-top: 230px;
}

#loadingText {
	padding-top: 20px;
	
	text-align:center;
	
	cursor: default;
}

#listWrapper::-webkit-scrollbar-track {
	display: none;
}

#listWrapper::-webkit-scrollbar {
	display: none;
}

#listWrapper::-webkit-scrollbar-thumb {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
	width: 100%;
	min-width: 600px;
	
	height: 50px;
	
	padding: 10px 30px;
}

#logo {
	float:left;
	
	width: 200px;
	height: 50px;
}

#gOptions {
    position: relative;
    top: -10px;
    
	float:right;
		
	min-width: 180px;
	height: 33px;
	
	padding: 5px 11px 5px 11px;
	margin-right: 100px;
	
	background-color: #333333;
}

.gOptionsButton {    
    float: right;
    
    padding: 5px 11px 5px 11px;
    
    font-size: 18px;
    color: #999999;
    
    cursor: pointer;
}
.gOptionsButton:hover {
    color: #FFFFFF;
}

#mainWrapper {
	width: 100%;
	min-width: 1050px;
	min-height: 550px;
	overflow: hidden;
	
	padding: 0px 20px;
	
	height: calc(96vh - 75px);
}

#nodeList {
	float: left;
	
	width: 330px;
	height: 100%;
	
	margin-top: 20px;
}

#searchWrapper {
	float: right;
	
	margin: 0px 12px 40px 0px;
	
	width: 300px;
	height: 70px;
}

.searchBox {
	float: right;
	
	width: calc(100% - 84px);
	height: 28px;
	
	padding: 0px 5px 0px 5px;
	
	background-color: #222222; 
    border: 1px solid #444444;
    color: #CCCCCC;
}
.searchBox:hover {
    border: 1px solid #888888;
    color: #EEEEEE; 
}
.searchBox:active {
	border: 1px solid #888888;
    color: #EEEEEE; 
}

.inputButton {
	float:right;
	
	width: 70px;
	height: 30px;
	
	border: 1px solid #444444;
	color: #CCCCCC;
	background-color: #292929;
}
.inputButton:hover {
    border: 1px solid #888888;
    color: #EEEEEE; 
    background-color: #292929;
}
.inputButton:active {
    border: 1px solid #888888;
    color: #FFFFFF; 
    background-color: #4568e2;
}

#category {
	float: right;
	
	margin-top: 16px;
}

#dropDownSelect {
	width: 298px;
	height: 30px;
	
	padding: 0px 5px 0px 5px;
	
	line-height: 1;
	
	background-color: #292929; 
    border: 1px solid #444444;
    color: #CCCCCC;
}
#dropDownSelect:hover {
	color: #EEEEEE;
	border: 1px solid #888888;
	background-color: #292929;
}

#dropDownOption {	
	background-color: #222222; 
    border: 1px solid #666666;
    box-shadow: 0 0 0px #ffffff inset; 
    color: #AAAAAA;
}

#listWrapper {
    float: right;
    
	width: 310px;
	height: calc(100% - 130px);
	
	overflow-y: auto;
	
	visibility: hidden;
}

.arrow_symbol {
	float:right;
	
	width: 310px;
	height: 25px;
	
	padding-top: 5px;
	
	background-color: none;
	
	cursor: pointer;
}
.arrow_symbol:hover {
	width: 310px;
	height: 25px;
	
	border: none;
	
	background-color: #444444;
}
.arrow_symbol#arrowUp:hover {
	height: 24px;
	
	border-bottom: 1px solid #777777;
}
.arrow_symbol#arrowDown:hover {
	height: 24px;
	
	border-top: 1px solid #777777;
}
.arrow_symbol:active {
	width: 310px;
	height: 25px;
}

.listButton {
    width: 100%;
    height: 60px;
    
    color: #CCCCCC;
    
    background-color: #222222;
    
    z-index: 10;
    
    cursor: pointer;
}
.listButtonSel {
    width: 100%;
    height: 60px;
    
    color: #FFFFFF;
    
    background-color: #4568e2;
    
    cursor: pointer;
}
.listButton:hover {
    color: #EEEEEE;
    
    background-color: #444444;
}
.listButton:active {
    color: #FFFFFF;
    
    background-color: #4568e2;
}

.listButtonIcon {
    float:left;
    
    width:50px;
    height:50px;
    
    padding: 5px 8px 5px 5px;
}

.listButtonName {
    float:left;
    
    width: calc(96% - 90px);
    height: 30px;
    
    padding-top: 5px;
    
    font-size: 22px;
}

.listButtonDetails {
    float:left;
    
    width: calc(96% - 90px);
    height: 20px;
    
    padding-top: 2px;
    
    font-size: 13px;
}

#vLineWrapper {
    float:left;
    height: 100%;
}

#vDivLine {
	float:left;
	
	width: 1px;
	
	height: 96%;
	
	background-color: #444444;
}

#vLineSpacer {
	width: 1px;
	height: 20px;
}

#nodeInfoWrapper {
	float: left;
	
	width: calc(96% - 300px);
	min-width: 700px;
	
	height: 100%;
}

#nodeMenu {
	width: 100%;
}

#nodeMenuWrapper {	
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    
    width: 670px;
    height: 60px;
}

.menuButton {
    float: left;
    
    width: 100px;
    height: 45px;    
    
    padding: 15px 25px 0px 25px;
    
    color: #CCCCCC;
    text-align: center;
    font-size: 25px;
    
    background-color: #222222;
    
    cursor: pointer;
}
.menuButtonSel {
    float:left;
    
    width: 100px;
    height: 45px;    
    
    padding: 15px 25px 0px 25px;
    
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    
    background-color: #4568e2;
    
    cursor: pointer;
}
.menuButton:hover {
    color: #EEEEEE;
    background-color: #444444;
}
.menuButton:active {
    color: #ffffff;
    background-color: #4568e2;
}

.refresh_symbol {
	float:left;
		
	width: 45px;
	height: 45px;
	
	padding-top: 15px;
	padding-left: 15px;
	
	background-color: #222222;
	
	cursor: pointer;
}
.refresh_symbol:hover {
	background-color: #444444;
}
.refresh_symbol:active {
	background-color: #4568e2;
}

.home_symbol {
	float:left;
		
	width: 45px;
	height: 45px;
	
	padding-top: 15px;
    padding-left: 15px;
	
	background-color: #222222;
	
	cursor: pointer;
}
.home_symbol:hover {
	background-color: #444444;
}
.home_symbol:active {
	background-color: #4568e2;
}

#hDivLine {	
	margin-left: auto;
    margin-right: auto;
	
	width: 86%;
	
	height: 1px;
	
	background-color: #444444;
}

#nodeInfo {
	position:relative;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	
    margin-left: auto;
    margin-right: auto;
    
    width: calc(96% - 320px)%;
	height: calc(96% - 120px);
	
	padding: 10px 20px 5px 20px;
}

#nodeName {
	width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    
    font-size: 36px;
}

#nodeModuleLoader {
	position: relative;
	top:0px;
	left:0px;
	
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 15px;
    
    width: 80%;
    height: calc(98% - 60px);
    
    background-color: #222222;
    
    z-index: 100;
    visibility:hidden;
}

#nodeModule {
	position:absolute;
	top: 40px;
	left: calc(20% / 2);
    
    margin-top: 20px;
    
    width: 80%;
    height: calc(98% - 60px);
    
    background-color: #551111;
    
    visibility:hidden;
}

#nodeModuleHistory {
	position:absolute;
	top:40px;
	left: calc(20% / 2);
    
    margin-top: 20px;
    
    width: 80%;
    height: calc(98% - 60px);
    
    background-color: #115511;
    
    visibility:hidden;
}

#nodeModuleConfig {
	position:absolute;
	top:40px;
	left: calc(20% / 2);
    
    margin-top: 20px;
    
    width: 80%;
    height: calc(98% - 60px);
    
    background-color: #111155;
    
    visibility:hidden;
}

#homeScreen {
	position:absolute;
	top:20px;
	left: calc(20% / 2);
    
    margin-top: 0px;
    
    width: 80%;
    height: calc(98% - 20px);
    
    background-color: #551155;
    
    visibility:hidden;
}

#nodeIDWrapper {
    margin-left: auto;
    margin-right: auto;
    
    width: 84%;   
    height: 50px;
    
    margin-top: 4px;
    
    visibility:hidden;
}

.nodeID {
    float: left;
    
    height: 24px;
    
    padding: 2px 6px 0px 6px;
    margin-right: 25px;
    
    font-size: 14px;
    
    color: #777777;
    
    cursor: default;
}
.nodeID:hover {
    color: #DDDDDD;
}

#footer {
	width: 96%;
	min-width: 600px;
	
	height: 20px;
	
	padding-right: 50px;
}

#copyright {
	float:right;
	
	padding: 5px;
	
	color: #777777;
	font-size: 15px;
	
	cursor: default;
}
#copyright:hover {
	color: #DDDDDD;
}
